<!-- Cabezera -->
<ul class="nav justify-content-between bg-dark fixed-top">
    <li class="nav-item" style="display: flex;">
        <a class="nav-link" href="#"><i style="color: white;" class="fi fi-br-menu-burger"></i> </a>   
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">NEPTUNE<span>BOOKS</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link ">Disabled</a>
    </li>
</ul>


<!-- <header>
    <div class="menu-nav bg-dark">
        <i class="fi fi-br-menu-burger"></i>
    </div>
    <h5 style=" color: rgb(0, 68, 215);">NEPTUNE <span style="color: white;">BOOKS</span></h5>
    <div class="menu-end">
        <i class="fi fi-br-search"></i>
    </div>
</header> -->


<!-- Nav-menu -->
<nav>
    <div>

    </div>
</nav>

<!-- Footer -->
<footer>
    <div>

    </div>
</footer>
