ul nav {
    
}
.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    color: rgb(0, 89, 255);
    transition: 0.2s;
}
.nav-link span {
    margin-left: 5px;
    color: whitesmoke;
}


  /* MEDIA QUERIES ( MEDIUM DEVICES) */
  @media screen and (max-width: 1024px) {
    h5 {
        font-size: 1.6rem;
    }
    h5:hover {
        font-size: 1.65rem;
    }
  }
  
  /* MEDIA QUERIES ( SMALL DEVICES) */
  @media screen and (max-width: 600px) {
    h5 {
        font-size: 1.4rem;
    }
    h5:hover {
        font-size: 1.45rem;
    }
  }
