<app-head-nav></app-head-nav>
<ul class="nav justify-content-around bg-light navbar-light fixed-top">
    <li class="nav-item" style="display: flex; padding-top: 5px;">
        <h2> BOOKS </h2>
        <i style="width: 2px; font-size: 1.1rem; padding-top: 1.1px;" class=
        "fi fi-rr-list-check"
        ></i>
    </li>
    <li class="nav-item">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search">
        <button class="btn btn-sm btn-light" (click)="searchBooks()">
            <i class="fi fi-rs-search"></i>
        </button>
    </li>
</ul>


<!-- book-list.component.html -->
<div style="display: flex; width: 100%; justify-content: center;">
    <div class="books-container">
        <div *ngFor="let book of books" class="book">
            <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" alt="{{ book.volumeInfo.title }}" (click)="onSelectBook(book.id)">
        </div>
    </div>
</div>

  